.container {
  max-width: 1080px;
  margin: auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  height: 100%;
}

@media (max-width: 920px) {
  .container {
    max-width: 580px;
    margin: auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* align-items: center; */
    gap: 4rem;
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 580px;
    margin: auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* align-items: center; */
    gap: 3.9em;
  }
}
